.poll-list {
    max-width: 30%;
}

.poll-image {
    width: 100%;
    max-height: 200px;
}

.poll-image img {
    height: 200px;
    width: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#id {
    max-width: 450px;
    max-height: 350px;
}
